h4.widget-title {
    margin-bottom: 0px !important;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
}
.header header-top{
    		background: black;
    	}
.header-top{
            
            background: black !important;
            ;
            width: 100%;
            z-index: 10;
            border-bottom: 1 px solid rgba(216, 216, 216);
}
.header-bottom{
            
            background: black !important;
            ;
            width: 100%;
            z-index: 10;
            border-bottom: 1 px solid rgba(216, 216, 216);
            padding-left: 20px;
}

        
.top-menu{
            color: #f8f9fa !important;
            font-weight: 500 !important;
            text-transform: uppercase !important;
    		letter-spacing: 2px !important;
    		font-size: 14px !important;
}
        .hd h1 {
        	font-size: 4.0rem;
     		
        }
.top-details{
            color: #f8f9fa !important;
            font-weight: 500 !important;
            text-transform: uppercase !important;
            letter-spacing: 2px !important;
            font-size: 14px !important;
}
.menu-beta li:first-child {
    border-left: 0px solid #d3d3d3;
}
.menu-beta li {
    border-right: 0px solid #d3d3d3;
}
.nav-link {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}
.pull-left img{
    padding-left: 13px;
}



.navbar navbar-expand-md{
            background: black;
        }
        .navbar {
            
            background: black !important;
            
            width: 100%;
            z-index: 10;
            border-bottom: 1 px solid rgba(216, 216, 216);
        }
        
        .nav-link {
            color: #f8f9fa !important;
            font-weight: 500 !important;
            text-transform: uppercase !important;
            letter-spacing: 2px !important;
            font-size: 14px !important;
        }
        .hd h1 {
            font-size: 4.0rem;
            
        }
        .giohang{
            padding-left: 2px !important;
            padding-right: 2px !important
        }
        .add-to-cart i {
        background: #F5F5ED;

}